certifi==2026.4.22
charset-normalizer==3.4.7
decorator==5.2.1
idna==3.14
oauthlib==3.3.1
packaging==26.2
py==1.11.0
python-dateutil==2.9.0.post0
pytz==2026.2
requests==2.33.1
requests-oauthlib==2.0.0
retry==0.9.2
six==1.17.0
TeslaPy==2.9.1
urllib3==2.7.0
websocket-client==1.9.0
wheel==0.47.0
